<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 自动转换为驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- environments用来配置数据库的连接信息 -->
	<environments default="dev"><!-- 默认连接dev环境所指定的数据库 -->
		<environment id="dev"><!-- dev开发环境 -->
			<!-- 事务管理器，采用JDBC方式管理数据库事务，刚开始使用的时候这句话先写死，后面我们仔细讲解 -->
			<transactionManager type="jdbc"></transactionManager>
			<dataSource type="POOLED"><!-- 利用数据库连接池来管理数据库，这也是写死的，同时也是Mybatis的最佳配置 -->
				<property name="driver" value="com.mysql.jdbc.Driver"/>
		        <property name="url" value="jdbc:mysql://localhost:3306/tthot?useUnicode=true&amp;characterEncoding=UTF-8"/>
		        <property name="username" value="root"/>
		        <property name="password" value=""/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/coderli/mapper/news.xml"/>
		<mapper resource="com/coderli/mapper/comment.xml"/>
	</mappers>
</configuration>